@import url(fonts.css);

ul,
body,
hr,
h1,
h2 a {
  margin: 0;
  padding: 0;
  font-family: "Gilroy-Light", sans-serif;
  font-size: 17px;
  border: none;
  text-align: center;
  color: #141C3A;
}

h1 {
  font: 26px "Gilroy-ExtraBold", sans-serif;
}

section h1 {
  padding: 45px 0;
  text-transform: uppercase
}

hr {
  background-color: #E5EBF2;
  height: 1px;
}

header {
  max-width: 950px;
  margin: 0 auto;
}


nav ul {
  display: flex;
  list-style: none;
  height: 115px;
}

nav li {
  font-size: 17px;
  flex-grow: 1;
  margin: auto;
}

nav li a {
  text-decoration: none;
}

.accent {
  color: #8428F8;
}

nav li a.accent {
  font: 16px "Gilroy-ExtraBold", sans-serif;
}

nav li.main {
  font: 26px "Gilroy-ExtraBold", sans-serif;
  text-align: left;
  flex-grow: 4;
}

section.banner {
  height: 771px;
  margin: 0 auto;

}

.banner h1 {
  font: 48px "Gilroy-ExtraBold", sans-serif;
  padding: 121px 0 21px 0;
}

object.illustration {
  padding: 30px;
}

.banner .contacts span {
  display: inline-block;
}

.vertical-divider {
  min-width: 1px;
  background-color: #DCDCDE;

}

.banner .vertical-divider {
  height: 32px;

}

.banner .contacts .title {
  font-size: 20px;
  padding: 5px 0;
}

.phone {
  text-align: right;
  padding-right: 8px;
}

.email {
  text-align: left;
  padding-left: 8px;
}

main {
  background-color: #F9FBFD;
}

main article {
  padding: 140px 0;
}

main h1 {
  font: 26px "Gilroy-ExtraBold", sans-serif;

}

main div {
  padding-top: 38px;
  width: 630px;
  margin: 0 auto;
}

.experience .stages {
  padding: 125px 0;
}


.experience article {
  display: flex;
  justify-content: center;
}

.experience .speciality {
  text-align: right;
  line-height: 30px;
}

.experience .company {
  text-align: left;
  line-height: 30px;

}

.experience div {
  display: inline-block;
  flex-basis: 380px;
  margin: 0 0;

}

div.divider {
  flex-basis: 180px;
}

.dot {
  background-color: #8428F8;
  display: inline-block;
  margin: 32.165px 0;
  width: 9px;
  height: 9px;
  border-radius: 4.5px;
}

.experience .vertical-divider {
  height: 224px;
  background-color: #DCDCDE;
  margin: 0;
  display: inline-block;
}

.skills ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

}

div.skills {
  padding: 120px 0;
}

.skills li {
  text-align: left;
  text-transform: uppercase;
  display: inline-block;
  flex-basis: 520px;
  padding: 0 0;
  position: relative;
}

.skills li span {
  height: 6px;
  border-radius: 3px;
  display: inline-block;

}

.skills li span.rate {
  background-color: #8428F8;
  width: 55%;
  z-index: 1;
  position: absolute;
}

.skills li span.max {
  width: 75%;
  background-color: #DFE5EB;

}

.education {
  background-color: #F9FBFD;
}