@import url(fonts.css);

ul,
body,
hr,
h1,
h2
a {
  margin: 0;
  padding: 0;
  font-family: "Gilroy-Light", sans-serif;
  font-size: 17px;
  border: none;
  text-align: center;
  color: #141C3A;
}

h1 {
  font: 26px "Gilroy-ExtraBold", sans-serif;
}

hr {
  background-color: #E5EBF2;
  height: 1px;
}

header {
  max-width: 950px;
  margin: 0 auto;
}


nav ul {
  display: flex;
  list-style: none;
  height: 115px;
}

nav li {
  font-size: 17px;
  flex-grow: 1;
  margin: auto;
}

nav li a {
  text-decoration: none;
}

.accent {
  color: #8428F8;
}

nav li a.accent {
  font: 16px "Gilroy-ExtraBold", sans-serif;
}

nav li.main {
  font: 26px "Gilroy-ExtraBold", sans-serif;
  text-align: left;
  flex-grow: 4;
}

section.banner {
  height: 771px;
  margin: 0 auto;

}

.banner h1 {
  font: 48px "Gilroy-ExtraBold", sans-serif;
  padding: 121px 0 21px 0;
}

object.illustration {
  padding: 30px;
}

.banner .contacts span {
  display: inline-block;
}

.banner .vertical-divider {
  width: 1px;
  height: 27px;
  background-color: #DCDCDE;

}

.banner .contacts .title {
  font-size: 20px;
  padding: 5px 0;
}

.phone {
  text-align: right;
  padding-right: 8px;
}

.email {
  text-align: left;
  padding-left: 8px;
}

main {
  background-color: #F9FBFD;
}

main article {
  padding: 140px 0;
}

main h1 {
  font: 26px "Gilroy-ExtraBold", sans-serif;

}

main div {
  padding-top: 38px;
  width: 630px;
  margin: 0 auto;
}

.experience h1{
  padding: 45px 0;
  text-transform:uppercase
}